<template>
  <div class="py-8 rounded-lg shadow-lg bg-white">
    <div class="flex justify-center items-center">
      <img src="../assets/images/icons/icon_consult.svg" class="block" />
    </div>

    <div class="block mt-8">
      <h1 class="text-center block text-xl font-semibold font-body">
        IT Consultancy {{ data }}
      </h1>
      <span
        class="text-center block mt-4 text-gray-400 leading-tight font-light font-body"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>