<template>
  <header class="bg-none xl:bg-left-header bg-no-repeat bg-right-top">
    <div
      class="flex pl-8 lg:pl-24 items-center sm:justify-start justify-between py-4"
    >
      <div>
        <img
          src="../assets/images/logo.svg"
          alt="logo"
          class="h-auto xl:h:auto lg:h-auto"
        />
      </div>
      <div class="px-4 py-4 md:block sm:block hidden items-center">
        <div class="ml-16 inline-grid">
          <a
            @click="menu = 'beranda'"
            href="#"
            class="px-4 py-2 hover:border-red-600 text-xl font-semibold"
            >Beranda</a
          >
          <div
            :class="menu == 'beranda' ? 'block' : 'hidden'"
            class="ml-4 mr-4 w-auto border-b-4 border-red-600"
          ></div>
        </div>
        <div class="inline-grid ml-8">
          <a
            @click="menu = 'tentang'"
            href="#"
            class="px-4 py-2 hover:border-red-600 inline-block text-xl font-semibold"
            >Tentang</a
          >
          <div
            :class="menu == 'tentang' ? 'block' : 'hidden'"
            class="ml-4 mr-4 w-auto border-b-4 border-red-600"
          ></div>
        </div>
        <div class="inline-grid ml-8">
          <a
            @click="menu = 'portofolio'"
            href="#"
            class="px-4 py-2 hover:border-red-600 inline-block text-xl font-semibold"
            >Portofolio</a
          >
          <div
            :class="menu == 'portofolio' ? 'block' : 'hidden'"
            class="ml-4 mr-4 w-auto border-b-4 border-red-600"
          ></div>
        </div>
        <div class="inline-grid ml-8">
          <a
            @click="menu = 'blog'"
            href="#"
            class="px-4 py-2 hover:border-red-600 inline-block text-xl font-semibold"
            >Blog</a
          >
          <div
            :class="menu == 'blog' ? 'block' : 'hidden'"
            class="ml-4 mr-4 w-auto border-b-4 border-red-600"
          ></div>
        </div>
        <div class="inline-grid ml-8">
          <a
            href="#"
            @click="menu = 'kontak'"
            class="px-4 py-2 hover:border-red-600 inline-block text-xl font-semibold"
            >Kontak</a
          >
          <div
            :class="menu == 'kontak' ? 'block' : 'hidden'"
            class="ml-4 mr-4 w-auto border-b-4 border-red-600"
          ></div>
        </div>
      </div>
      <div class="pr-4 block sm:hidden">
        <button type="button" class="block" @click="isOpen = !isOpen">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-5 -h-5 fill-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
    <div :class="isOpen ? 'hidden' : 'block'" class="px-4 py-4 block sm:hidden">
      <div>
        <a
          href="#"
          @click="menu = 'beranda'"
          class="px-4 py-2 hover:border-red-600 block sm:block text-xl font-semibold"
          >Beranda</a
        >
        <div
          :class="menu == 'beranda' ? 'block' : 'hidden'"
          class="ml-4 w-auto border-b-2 border-red-600"
        ></div>
      </div>
      <div>
        <a
          @click="menu = 'tentang'"
          href="#"
          class="px-4 py-2 hover:border-red-600 block sm:block text-xl font-semibold"
          >Tentang</a
        >
        <div
          :class="menu == 'tentang' ? 'block' : 'hidden'"
          class="ml-4 w-auto border-b-2 border-red-600"
        ></div>
      </div>
      <div>
        <a
          @click="menu = 'portofolio'"
          href="#"
          class="px-4 py-2 hover:border-red-600 block sm:block text-xl font-semibold"
          >Portofolio</a
        >
        <div
          :class="menu == 'portofolio' ? 'block' : 'hidden'"
          class="ml-4 w-auto border-b-2 border-red-600"
        ></div>
      </div>
      <div>
        <a
          @click="menu = 'blog'"
          href="#"
          class="px-4 py-2 hover:border-red-600 block sm:block text-xl font-semibold"
          >Blog</a
        >
        <div
          :class="menu == 'blog' ? 'block' : 'hidden'"
          class="ml-4 w-auto border-b-2 border-red-600"
        ></div>
      </div>
      <div>
        <a
          @click="menu = 'kontak'"
          href="#"
          class="px-4 py-2 hover:border-red-600 block sm:block text-xl font-semibold"
          >Kontak</a
        >
        <div
          :class="menu == 'kontak' ? 'block' : 'hidden'"
          class="ml-4 w-auto border-b-2 border-red-600"
        ></div>
      </div>
    </div>
    <div class="w-screen items-center">
      <div
        class="p-8 lg:p-24 xl:p-24 xl:w-1/2 bg-right-header bg-no-repeat items-center"
      >
        <div class="md:pt-32 lg:pt-32">
          <h1 class="text-5xl font-semibold p-0">
            Solve Bussiness Chalanges With IT
          </h1>
          <!-- <img
          src="../assets/images/header/bg_left.svg"
          alt="logo"
          class="h-auto xl:h:auto lg:h-auto"
        /> -->
          <p class="text-xl text-gray-800 mt-0 pt-16 pb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            sagittis luctus justo id tempus. Duis ac odio lacinia, imperdiet
            nulla ut, auctor est. Etiam in justo vehicula, vestibulum tellus
            non, rutrum leo
          </p>
          <div
            class="bg-button flex text-center place-content-center justify-items-center mt-8 lg:w-2/4 py-4 px-8 rounded-md shadow-lg"
          >
            <img src="../assets/images/fire.svg" class="mr-8"/>
            <a href="#" class="text-gray-300 font-medium text-xl tracking-wide"
              >Get Started</a
            >
          </div>
        </div>
      </div>
      <div class="w-1/2"></div>
    </div>
  </header>
</template>
<script>
export default {
  data() {
    return {
      isOpen: false,
      menu: "beranda",
    };
  },
};
</script>