<template>
  <div class="container mx-auto xl:px-4">
    <Header />
    <section
      key="services"
      class="h-full lg:p-24 w-full place-content-center justify-items-center bg-secondary"
    >
      <div
        class="w-auto sm:w-auto p-8 lg:p-0 md:flex lg:flex md:justify-evenly"
      >
        <div
          class="mt-8 py-16 rounded-lg shadow-lg bg-white lg:m-8 lg:ml-0"
          v-for="s in services"
        >
          <div class="flex justify-center items-center">
            <img :src="require(`~/assets/images/${s.icon}`)" class="block" />
          </div>
          <div class="block mt-8">
            <h1 class="text-center block text-xl font-semibold font-body">
              {{ s.title }}
            </h1>
            <span
              class="text-center block mt-4 text-gray-400 leading-tight font-light font-body px-8"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore
            </span>
          </div>
        </div>
      </div>
    </section>
    <!-- <section key="video" class="lg:p-0 w-full">
      <div class="w-full flex justify-between">
        <div class="blok z-20 lg:mt-0 lg:ml-24 left-0 top-0 relative">
          <img src="~assets/images/circle_dot.svg" />
        </div>
        <div>
          <div
            class="z-0 lg:h-36 lg:w-36 bg-red-200 w-16 h-16 relative right-20 top-20"
          ></div>
          <div
            class="z-10 lg:h-36 lg:w-36 bg-red-600 w-16 h-16 absolute right-24 -mt-12"
          ></div>
        </div>
      </div>
      <div class="bg-yellow-300 w-full flex justify-between align-bottom">
        <div>
          <div
            class="z-0 lg:h-32 lg:w-32 bg-red-200 w-16 h-16 relative left-20 bottom-0"
          ></div>
        </div>
        <div class="blok z-20 lg:mt-0 lg:ml-24 left-0 top-0 relative">
          <img src="~assets/images/circle_dot.svg" />
        </div>
      </div>
    </section> -->
    <section>
      <div
        class="flex mt-16 h-full w-full place-content-center justify-items-center"
      >
        <img
          src="../assets/images/video.svg"
          class="absolute z-0 fill-current"
        />
        <div class="z-10 items-center mt-24 hidden lg:block">
          <iframe
            width="1024"
            height="640"
            src="https://www.youtube.com/embed/r9jwGansp1E"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="z-10 items-center mt-12 lg:hidden md:hidden">
          <iframe
            src="https://www.youtube.com/embed/r9jwGansp1E"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </section>
    <section class="mt-16">
      <div class="flex h-full w-full p-8 lg:p-24">
        <div class="lg:w-1/2 w-auto mt-8">
          <div>
            <h1 class="lg:text-6xl text-4xl uppercase text-title font-semibold">
              Technology
            </h1>
            <h1 class="lg:text-6xl text-4xl uppercase font-semibold">
              For Inovation
            </h1>
            <p class="mt-8 text-gray-500">
              Objectively integrate enterprise-wide strategic theme areas with
              functionalized infrastructures. Interactively productize premium
              technologies whereas interdependent quality vectors.
            </p>
          </div>
          <div
            class="lg:flex flex place-content-center justify-items-center mt-8 divide-x-2 divide-gray-100"
          >
            <div class="w-auto lg:w-1/3 pl-0 pt-4">
              <h1 class="text-4xl font-semibold text-value-text">750</h1>
              <p class="pt-4 text-gray-500">Million of client logins monthly</p>
            </div>

            <div class="w-auto lg:w-1/3 p-4">
              <h1 class="text-4xl font-semibold text-value-text">300</h1>
              <p class="pt-4 text-gray-500">Million of client logins monthly</p>
            </div>
            <div class="w-auto lg:w-1/3 p-4">
              <h1 class="text-4xl font-semibold text-value-text">180</h1>
              <p class="pt-4 text-gray-500">Percent yearly turnover increase</p>
            </div>
          </div>
          <div
            class="bg-button flex text-center place-content-center justify-items-center mt-8 lg:w-2/4 py-4 px-8 rounded-md shadow-lg"
          >
            <img src="../assets/images/fire.svg" />
            <a
              href="#"
              class="text-gray-300 font-medium text-xl tracking-wide w-full"
            >
              Get Started</a
            >
          </div>
        </div>
        <div class="w-1/2 hidden lg:block place-items-end">
          <img src="../assets/images/innovation.svg" />
        </div>
      </div>
    </section>
    <section class="mt-16 bg-secondary items-center">
      <div class="block lg:flex h-full w-full p-8 lg:p-24 items-center">
        <div class="lg:w-2/6 w-full h-full mt-8">
          <div class="w-full">
            <h1 class="lg:text-6xl text-4xl font-semibold">
              Kenapa kami adalah yang terbaik
            </h1>
            <p class="mt-8 text-gray-500 text-justify">
              Mendapatkan pelayanan dan hasil terbaik dari kami dengan semua
              yang kami berikan
            </p>
          </div>
        </div>
        <div class="flex lg:w-4/6 w-auto mt-8 lg:ml-8">
          <div class="w-full lg:grid lg:grid-cols-3 items-end">
            <div
              class="lg:block justify-items-center mt-8 lg:mt-4 lg:p-4"
              v-for="i in 9"
            >
              <div class="flex">
                <img src="../assets/images/ourvalue.svg" />
              </div>
              <div class="block justify-center items-center">
                <h1 class="text-2xl block">Harga Terjangkau</h1>
                <p class="block">Harga bersaing yang menguntungkan</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-16">
      <div class="flex h-full w-full p-8 lg:p-24">
        <div class="w-1/2 hidden lg:block place-items-end">
          <img src="../assets/images/innovation.svg" />
        </div>
        <div class="lg:w-1/2 w-auto mt-8 divide-y-2 divide-gray-100">
          <div class="">
            <h1 class="lg:text-6xl text-4xl uppercase text-title font-semibold">
              SOFTWARE FOR
            </h1>
            <h1
              class="lg:text-6xl text-4xl uppercase font-semibold text-gray-800"
            >
              OPEN ENTERPRISE
            </h1>
            <p class="mt-8 text-gray-500">
              Enthusiastically leverage existing premium quality vectors with
              enterprise wide innovation. Phosfluorescently leverage others high
              impact solutions outside the box thinking with e-business ideas.
            </p>
          </div>
          <div
            class="lg:flex flex place-content-center justify-items-center mt-8 pt-8"
          >
            <div class="w-auto lg:w-1/2 pl-0 pt-4">
              <h1 class="text-xl font-semibold text-gray-800">
                The Features are the best
              </h1>
              <p class="pt-4 text-gray-500">
                Nanotechnology immersion along the information highway will
                close the loop on focusing solely on the bottom line.
              </p>
              <h2 class="text-base font-semibold text-gray-800 mt-8">
                Ahmad Saefudin
              </h2>
              <p class="pt-0 text-gray-500">CEO PT Plastikind Indonesia</p>
            </div>

            <div class="w-auto lg:w-1/2 p-4">
              <h1 class="text-xl font-semibold text-gray-800">
                The Features are the best
              </h1>
              <p class="pt-4 text-gray-500">
                Nanotechnology immersion along the information highway will
                close the loop on focusing solely on the bottom line.
              </p>
              <h2 class="text-base font-semibold text-gray-800 mt-8">
                Ahmad Saefudin
              </h2>
              <p class="pt-0 text-gray-500">CEO PT Plastikind Indonesia</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-16">
      <div class="h-full w-full p-8 lg:p-24 bg-secondary">
        <div class="w-auto mt-8 block">
          <div>
            <h1 class="lg:text-6xl text-4xl uppercase text-title font-semibold">
              OUR GREAT JOB
            </h1>
            <h1 class="lg:text-6xl text-4xl uppercase font-semibold">
              WITH GREAT CLIENTS
            </h1>
            <p class="mt-8 text-gray-500">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
        <div
          class="w-auto sm:w-auto p-0 lg:p-0 lg:grid lg:grid-cols-4  md:justify-evenly items-start"
        >
          <div
            class="mt-8 py-2 rounded-lg shadow-lg bg-white lg:m-8 lg:ml-0 items-start p-2"
            v-for="i in 4"
          >
            <div class="flex justify-center items-start pt-2">
              <img src="../assets/images/banner.svg" class="block" />
            </div>
            <div class="block mt-2 pb-2">
              <h1 class="block text-xl font-semibold font-body">
                Test Projects
              </h1>
              <span
                class="block mt-2 text-gray-400 leading-tight font-light font-body px-0"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </span>
              <span class="text-sm">MVP Time : 2 Hours</span>
            </div>
            <div
              class="border-red-600 border-2 flex text-center place-content-center justify-items-center mt-8 mb-4 py-2 px-2 rounded-md"
            >
              <a
                href="#"
                class="text-red-600 font-medium text-lg tracking-wide w-full"
              >
                Test Projects</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Header from "../components/Header";
// import Card from "../components/Card";
export default {
  components: {
    Header,
    // Card,
  },
  data() {
    return {
      services: [
        {
          title: "IT Consultancy",
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore",
          icon: "icons/icon_consult.svg",
        },
        {
          title: "IT Solutions",
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore",
          icon: "icons/icon_solution.svg",
        },
        {
          title: "Digital Marketing",
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore",
          icon: "icons/icon_marketing.svg",
        },
        {
          title: "Design Graphic",
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore",
          icon: "icons/icon_gd.svg",
        },
      ],
    };
  },
};
</script>
